<a href="https://colab.research.google.com/github/pranathi1615/PDS-1615/blob/main/12/9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
data={
    'Name':['Ravi','Pranathi','priya','sita'],
    'Age':[25,np.nan,30,28],
    'Marks':[85,90,np.nan,92]
}
df=pd.DataFrame(data)
print("Orginal DataFrame:")
print(df)
#detect missing values
print(df.isnull())

Orginal DataFrame:
       Name   Age  Marks
0      Ravi  25.0   85.0
1  Pranathi   NaN   90.0
2     priya  30.0    NaN
3      sita  28.0   92.0
    Name    Age  Marks
0  False  False  False
1  False   True  False
2  False  False   True
3  False  False  False

In [3]:
#dropping missing values
df_dropped=df.dropna()
print(df_dropped)

   Name   Age  Marks
0  Ravi  25.0   85.0
3  sita  28.0   92.0

In [4]:
df_filled=df.fillna(0)
print(df_filled)
df['Age']=df['Age'].fillna(df['Age'].mean())
df['Marks']=df['Marks'].fillna(df['Marks'].mean())
print(df)

       Name   Age  Marks
0      Ravi  25.0   85.0
1  Pranathi   0.0   90.0
2     priya  30.0    0.0
3      sita  28.0   92.0
       Name        Age  Marks
0      Ravi  25.000000   85.0
1  Pranathi  27.666667   90.0
2     priya  30.000000   89.0
3      sita  28.000000   92.0

In [5]:
#removing duplicates
import pandas as pd
import numpy as np
data={
    'Name':['Ravi','Neha','kiran','sita'],
    'age':[25,np.nan,30,28],
    'marks':[85,90,np.nan,92]
}
df=pd.DataFrame(data)
print(df)
df_no_dup=df.drop_duplicates()
print(df_no_dup)

    Name   age  marks
0   Ravi  25.0   85.0
1   Neha   NaN   90.0
2  kiran  30.0    NaN
3   sita  28.0   92.0
    Name   age  marks
0   Ravi  25.0   85.0
1   Neha   NaN   90.0
2  kiran  30.0    NaN
3   sita  28.0   92.0

In [6]:
data={
    'ID':['1','2','3','4'],
    'Marks':[85,90,90,92]
}
df=pd.DataFrame(data)
print(df.dtypes)
df['ID']=pd.to_numeric(df['ID'])
df['Marks']=pd.to_numeric(df['Marks'])
print(df.dtypes)

ID       object
Marks     int64
dtype: object
ID       int64
Marks    int64
dtype: object

In [7]:
df['Marks']=df['Marks'].apply(lambda x:x+5)
print(df)

   ID  Marks
0   1     90
1   2     95
2   3     95
3   4     97

In [10]:
df['Marks_Normalized']=(df['Marks']-df['Marks'].min())/(df['Marks'].max()-df['Marks'].min())
print(df)

   ID  Marks  Marks_Normalized
0   1     85          0.000000
1   2     90          0.714286
2   3     90          0.714286
3   4     92          1.000000

In [12]:
import pandas as pd
students=pd.DataFrame({
    'Student_ID':[101,102,103,104],
    'Name':['Ravi','Neha','Kiran','Sita']
})
#Marks Data
marks=pd.DataFrame({
    'Student_ID':[101,102,103,105],
    'Marks':[85,90,78,88]
})
merged_df=pd.merge(students,marks,on='Student_ID')
print(merged_df)

   Student_ID   Name  Marks
0         101   Ravi     85
1         102   Neha     90
2         103  Kiran     78

In [15]:
#Inner join
inner=pd.merge(students,marks,on='Student_ID',how='inner')
print(inner)
#left join
left=pd.merge(students,marks,on='Student_ID',how='left')
print(left)
#right join
right=pd.merge(students,marks,on='Student_ID',how='right')
print(right)
#outer join
outer=pd.merge(students,marks,on='Student_ID',how='outer')
print(outer)

   Student_ID   Name  Marks
0         101   Ravi     85
1         102   Neha     90
2         103  Kiran     78
   Student_ID   Name  Marks
0         101   Ravi   85.0
1         102   Neha   90.0
2         103  Kiran   78.0
3         104   Sita    NaN
   Student_ID   Name  Marks
0         101   Ravi     85
1         102   Neha     90
2         103  Kiran     78
3         105    NaN     88
   Student_ID   Name  Marks
0         101   Ravi   85.0
1         102   Neha   90.0
2         103  Kiran   78.0
3         104   Sita    NaN
4         105    NaN   88.0