<a href="https://colab.research.google.com/github/pranathi1615/PDS-1615/blob/main/29/8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd
data=[10,20,30,40,50]
series=pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [10]:
#Custom index
import pandas as pd
data=[10,20,30,40,50]
index_labels=['a','b','c','d','e']
series=pd.Series(data,index=index_labels)
print("Pandas Series")
print(series)

Pandas Series
a    10
b    20
c    30
d    40
e    50
dtype: int64

In [20]:
#data Frame
import pandas as pd
data={
    'Name':['Alice','Bob','Charlie','pranathi'],
    'Age':[25,30,35,40],
    'City':['New York','San Francisco','Los Angeles','ap']
}
df=pd.DataFrame(data)
print(df)
#accessing a single column
print(df['Name'])
#accessing a multiple column
print(df[['Name','City']])
#Acess rows using index
print(df.iloc[1])
print(df.loc[2])
#Adding a new column
df['Salary']=[40000,45000,3000,20000]
print(df)
#removing a column
df=df.drop('City',axis=1)
print(df)
#Filtering data
print(df['Age']>30)
print(df['Age'].mean())
print(df['Age'].max())
print(df['Age'].min())

       Name  Age           City
0     Alice   25       New York
1       Bob   30  San Francisco
2   Charlie   35    Los Angeles
3  pranathi   40             ap
0       Alice
1         Bob
2     Charlie
3    pranathi
Name: Name, dtype: object
       Name           City
0     Alice       New York
1       Bob  San Francisco
2   Charlie    Los Angeles
3  pranathi             ap
Name              Bob
Age                30
City    San Francisco
Name: 1, dtype: object
Name        Charlie
Age              35
City    Los Angeles
Name: 2, dtype: object
       Name  Age           City  Salary
0     Alice   25       New York   40000
1       Bob   30  San Francisco   45000
2   Charlie   35    Los Angeles    3000
3  pranathi   40             ap   20000
       Name  Age  Salary
0     Alice   25   40000
1       Bob   30   45000
2   Charlie   35    3000
3  pranathi   40   20000
0    False
1    False
2     True
3     True
Name: Age, dtype: bool
32.5
40
25

In [23]:
student_data={
    'Student_ID':[1,2,3,4],
    'Name':['Alice','Bob','Charlie','David'],
    'Marks':[85,92,78,95,],
    'Department':['cse','ece','eee','mech']
}
df=pd.DataFrame(student_data)
print(df)

   Student_ID     Name  Marks Department
0           1    Alice     85        cse
1           2      Bob     92        ece
2           3  Charlie     78        eee
3           4    David     95       mech

In [28]:
import pandas as pd
data = {
    's-name': ['pranathi', 'archana', 'suppuriya', 'vaishnavi', 'karthika'],
    's-rollno': [1245, 1369, 1111, 1654, 2199],
    'm1': [20, 15, 17, 18, 2],
    'm2': [16, 8, 18, 15, 18],
    'm3': [15, 3, 5, 17, 18]
}
df = pd.DataFrame(data)
df['Total'] = df[['m1', 'm2', 'm3']].sum(axis=1)
df['Average'] = df[['m1', 'm2', 'm3']].mean(axis=1).round(2)
df['Grade'] = df['Average'].apply(lambda x: 'A' if x >= 17 else ('B' if x >= 15 else 'C'))
print(df)

      s-name  s-rollno  m1  m2  m3  Total  Average Grade
0   pranathi      1245  20  16  15     51    17.00     A
1    archana      1369  15   8   3     26     8.67     C
2  suppuriya      1111  17  18   5     40    13.33     C
3  vaishnavi      1654  18  15  17     50    16.67     B
4   karthika      2199   2  18  18     38    12.67     C